In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/UNSW-NB15_1.csv',low_memory=False)

In [ ]:
data.head(45)

,src_ip,src_port,dst_ip,dst_port,proto,service,state,dur,sbytes,dbytes,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
0,30,4272,22,45600,120,2,0.001055,132,164,31,...,3,7,1,3,1,1,1,9,0,NaN
1,30,26018,25,239,120,2,0.036133,528,304,31,...,2,4,2,3,1,1,2,9,0,NaN
2,36,5087,23,45600,120,2,0.001119,146,178,31,...,12,8,1,2,2,1,1,9,0,NaN
3,35,28513,21,45600,120,2,0.001209,132,164,31,...,6,9,1,1,1,1,1,9,0,NaN
4,33,43623,6,45600,120,2,0.001169,146,178,31,...,7,9,1,1,1,1,1,9,0,NaN
5,30,24321,25,1159,120,2,0.078339,568,312,31,...,2,4,2,3,1,1,2,9,0,NaN
6,36,12547,20,45600,120,2,0.001134,132,164,31,...,12,7,1,2,2,1,1,9,0,NaN
7,2,1,1,1,6,6,0.000000,46,0,0,...,2,2,2,2,2,2,2,9,0,NaN
8,35,33789,22,45600,120,2,0.001126,146,178,31,...,6,7,3,1,1,1,1,9,0,NaN
9,37,2908,20,45600,120,2,0.001167,132,164,31,...,6,7,2,1,1,1,1,9,0,NaN
10,0,1,0,1,6,6,0.000000,46,0,0,...,2,2,2,2,2,2,2,9,0,NaN
11,0,1,0,1,6,6,0.000000,46,0,0,...,2,2,2,2,2,2,2,9,0,NaN
12,2,1,1,1,6,6,0.000000,46,0,0,...,2,2,2,2,2,2,2,9,0,NaN
13,31,42724,21,45600,120,2,0.001093,132,164,31,...,6,9,2,5,1,1,1,9,0,NaN
14,31,15680,25,32948,120,2,0.001851,528,304,31,...,8,4,2,5,1,1,2,9,0,NaN
15,31,413,22,36397,120,2,0.001749,528,304,31,...,8,2,3,5,1,1,2,9,0,NaN
16,32,57786,20,45600,120,2,0.001128,132,164,31,...,7,7,2,1,1,1,1,9,0,NaN
17,31,12383,25,1159,120,2,0.005153,568,312,31,...,8,4,2,5,2,1,2,9,0,NaN
18,31,63529,22,1159,120,2,0.004898,568,312,31,...,8,2,3,5,2,1,2,9,0,NaN
19,34,43273,21,45600,120,2,0.001111,132,164,31,...,5,9,2,1,1,1,1,9,0,NaN
20,28,12331,16,24165,120,6,0.000021,728,0,254,...,1,1,1,1,1,1,1,4,1,NaN
21,27,14681,14,60303,114,5,0.240139,918,25552,62,...,3,2,2,1,1,1,1,4,1,NaN
22,25,3594,14,60303,114,5,2.390390,1362,268,254,...,5,2,2,1,1,1,1,6,1,NaN
23,33,35102,25,45600,120,2,0.001101,132,164,31,...,7,4,3,1,1,1,1,9,0,NaN
24,32,18548,24,45600,120,2,0.001082,132,164,31,...,7,6,1,1,1,1,1,9,0,NaN
25,38,16428,18,45600,120,2,0.001122,132,164,31,...,8,3,1,2,2,1,1,9,0,NaN
26,39,51528,22,45600,120,2,0.001141,146,178,31,...,5,7,1,1,1,1,1,9,0,NaN
27,30,14120,7,45600,120,2,0.001164,146,178,31,...,3,8,2,1,1,1,1,9,0,NaN
28,35,20411,25,45600,120,2,0.001127,132,164,31,...,6,4,3,1,1,1,1,9,0,NaN
29,37,40383,20,45600,120,2,0.001073,132,164,31,...,6,7,1,1,1,1,1,9,0,NaN
30,38,16599,25,45600,120,2,0.001196,146,178,31,...,8,4,3,2,2,1,1,9,0,NaN
31,31,21663,7,45600,120,2,0.001101,132,164,31,...,6,8,2,1,1,1,1,9,0,NaN
32,37,29688,22,45600,120,2,0.001058,146,178,31,...,6,7,1,2,2,1,1,9,0,NaN
33,37,59811,24,45600,120,2,0.001100,132,164,31,...,6,6,3,2,2,1,1,9,0,NaN
34,38,4558,6,45600,120,2,0.001126,146,178,31,...,8,9,1,1,1,1,1,9,0,NaN
35,34,28126,24,45600,120,2,0.001017,146,178,31,...,5,6,3,2,2,1,1,9,0,NaN
36,34,31783,23,45600,120,2,0.001094,132,164,31,...,5,8,1,2,2,1,1,9,0,NaN
37,30,64438,24,45600,120,2,0.001092,132,164,31,...,3,6,3,1,1,1,1,9,0,NaN
38,33,38226,7,45600,120,2,0.001082,132,164,31,...,7,8,1,1,1,1,1,9,0,NaN
39,27,4154,14,48309,114,5,0.175190,8168,268,254,...,1,1,1,1,1,1,1,4,1,NaN
40,27,18621,8,60303,114,5,0.190600,844,268,254,...,3,1,1,1,1,1,1,4,1,NaN
41,32,53128,20,45600,120,2,0.001089,132,164,31,...,7,7,1,4,2,1,1,9,0,NaN
42,38,61950,7,45600,120,2,0.001126,132,164,31,...,8,8,3,1,1,1,1,9,0,NaN
43,32,2761,7,14023,120,2,0.001859,528,304,31,...,5,3,3,4,1,1,2,9,0,NaN
44,31,46563,25,45600,120,2,0.001152,132,164,31,...,6,4,1,1,1,1,1,9,0,NaN

In [ ]:
# Column names from the UNSW-NB15 feature list
columns = [
    'src_ip', 'src_port', 'dst_ip', 'dst_port', 'proto', 'service', 'state', 'dur', 'sbytes', 'dbytes',
    'sttl', 'dttl', 'sloss', 'dloss', 'service_type', 'Sload', 'Dload', 'Spkts', 'Dpkts',
    'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz', 'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit',
    'Stime', 'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat', 'is_sm_ips_ports', 'ct_state_ttl',
    'ct_flw_http_mthd', 'is_ftp_login', 'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ltm',
    'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat', 'label'
]

# Read the file and apply column names
data = pd.read_csv('/content/drive/MyDrive/UNSW-NB15_1.csv', names=columns, low_memory=False)

In [ ]:
data.head()

,src_ip,src_port,dst_ip,dst_port,proto,service,state,dur,sbytes,dbytes,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,3,7,1,3,1,1,1,NaN,0,NaN
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,2,4,2,3,1,1,2,NaN,0,NaN
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,12,8,1,2,2,1,1,NaN,0,NaN
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,6,9,1,1,1,1,1,NaN,0,NaN
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,7,9,1,1,1,1,1,NaN,0,NaN

In [ ]:
data.describe()

,state,dur,sbytes,dbytes,sttl,dttl,sloss,service_type,Sload,Dload,...,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,attack_cat,label
count,700001.000000,7.000010e+05,7.000010e+05,700001.000000,700001.000000,700001.000000,700001.000000,7.000010e+05,7.000010e+05,700001.000000,...,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,0.0
mean,0.863391,5.009637e+03,4.833038e+04,38.513848,31.980783,6.330444,21.326271,6.024271e+06,3.011023e+06,41.746643,...,0.031116,6.380239,6.034169,4.153233,4.668593,1.685498,1.401911,2.188105,0.031736,NaN
std,25.935765,4.489868e+04,1.860516e+05,39.996956,30.450757,18.855979,64.733376,5.181492e+07,4.499952e+06,80.198729,...,0.278212,5.075147,4.635608,3.740439,4.189667,1.871052,1.426013,2.211199,0.175296,NaN
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,NaN
25%,0.003931,4.240000e+02,3.040000e+02,31.000000,29.000000,0.000000,0.000000,7.885915e+04,7.640437e+04,4.000000,...,0.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,NaN
50%,0.027594,2.024000e+03,3.380000e+03,31.000000,29.000000,4.000000,5.000000,5.362718e+05,6.686759e+05,16.000000,...,0.000000,5.000000,5.000000,3.000000,4.000000,1.000000,1.000000,1.000000,0.000000,NaN
75%,0.346518,3.806000e+03,2.243200e+04,31.000000,29.000000,7.000000,16.000000,1.078489e+06,3.856223e+06,52.000000,...,0.000000,9.000000,8.000000,5.000000,6.000000,2.000000,1.000000,3.000000,0.000000,NaN
max,8786.637695,1.367739e+07,1.465542e+07,255.000000,254.000000,5096.000000,5483.000000,5.268000e+09,1.287619e+08,10200.000000,...,8.000000,44.000000,42.000000,42.000000,50.000000,36.000000,34.000000,38.000000,1.000000,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700001 entries, 0 to 700000
Data columns (total 50 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   src_ip            700001 non-null  object
 1   src_port          700001 non-null  object
 2   dst_ip            700001 non-null  object
 3   dst_port          700001 non-null  object
 4   proto             700001 non-null  object
 5   service           700001 non-null  object
 6   state             700001 non-null  float64
 7   dur               700001 non-null  int64
 8   sbytes            700001 non-null  int64
 9   dbytes            700001 non-null  int64
 10  sttl              700001 non-null  int64
 11  dttl              700001 non-null  int64
 12  sloss             700001 non-null  int64
 13  dloss             700001 non-null  object
 14  service_type      700001 non-null  float64
 15  Sload             700001 non-null  float64
 16  Dload             700001 non-null  int64
 17  Spkts             700001 non-null  int64
 18  Dpkts             700001 non-null  int64
 19  swin              700001 non-null  int64
 20  dwin              700001 non-null  int64
 21  stcpb             700001 non-null  int64
 22  dtcpb             700001 non-null  int64
 23  smeansz           700001 non-null  int64
 24  dmeansz           700001 non-null  int64
 25  trans_depth       700001 non-null  int64
 26  res_bdy_len       700001 non-null  float64
 27  Sjit              700001 non-null  float64
 28  Djit              700001 non-null  int64
 29  Stime             700001 non-null  int64
 30  Ltime             700001 non-null  float64
 31  Sintpkt           700001 non-null  float64
 32  Dintpkt           700001 non-null  float64
 33  tcprtt            700001 non-null  float64
 34  synack            700001 non-null  float64
 35  ackdat            700001 non-null  int64
 36  is_sm_ips_ports   700001 non-null  int64
 37  ct_state_ttl      700001 non-null  int64
 38  ct_flw_http_mthd  700001 non-null  int64
 39  is_ftp_login      700001 non-null  int64
 40  ct_ftp_cmd        700001 non-null  int64
 41  ct_srv_src        700001 non-null  int64
 42  ct_srv_dst        700001 non-null  int64
 43  ct_dst_ltm        700001 non-null  int64
 44  ct_src_ltm        700001 non-null  int64
 45  ct_src_dport_ltm  700001 non-null  int64
 46  ct_dst_sport_ltm  700001 non-null  int64
 47  ct_dst_src_ltm    22215 non-null   object
 48  attack_cat        700001 non-null  int64
 49  label             0 non-null       float64
dtypes: float64(11), int64(31), object(8)
memory usage: 267.0+ MB

In [ ]:
#Covert object datatype into float
for col in data.columns:
    if data[col].dtype == 'object':
        try:
            data[col] = data[col].astype(float)
        except:
            pass

In [ ]:
#Encode categorical columns
label_encoders = {}
for col in data.select_dtypes(include='object').columns:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le

In [ ]:
#Normalize numeric features
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(data.drop(columns=['label']))
df_scaled = pd.DataFrame(X_scaled, columns=data.columns[:-1])
df_scaled['label'] = data['label'].values

In [ ]:
# Assign random labels: 90% normal (0), 10% attack (1) for realism
df_scaled['label'] = np.random.choice([0, 1], size=len(df_scaled), p=[0.9, 0.1])

# Save new simulated dataset
df_scaled.to_csv('/content/drive/MyDrive/preprocessed_unsw_nb15.csv', index=False)
print("Preprocessing complete. Data saved to: preprocessed_unsw_nb15.csv")

Preprocessing complete. Data saved to: preprocessed_unsw_nb15.csv

In [ ]:
df_scaled.to_csv('/content/drive/MyDrive/preprocessed_unsw_nb15.csv', index=False)
print("Preprocessing complete. Data saved to: preprocessed_unsw_nb15.csv")

Preprocessing complete. Data saved to: preprocessed_unsw_nb15.csv